:root {
    --blaco: #ffffff;
    --oscuro: #212121;
    --primario: #ffc107;
    --secundario: #0097a7;
    --gris: #757575;
    --grisClaro: #DFE9F3;
    --fuente-principal: 3.8rem;
}

.titulo{
    text-align: center;
    color: #12A43E ;
    font-size: 3.2rem;
}
.titulo span{
    text-align: center;
    font-size: 1.5rem;
}
.opciones{
    text-align: center;
    color: #5499C7 ;
    font-size: 1.3rem;
}
.contenido{
    text-align: center;    
}
.servicio{
    text-align: center;
    color: #14BB7E;
    font-size: 1.8rem;
}
.inicio{
    color: #1254A4 ;
}
html {
    font-size: 62.5%;
}

body {
    font-size: 16px;
    font-family: 'Krub', sans-serif;
    background-image: linear-gradient(to top,var(--grisClaro)0%,VAR(--blanco)100%) ;
}
.sombra{
    /*-webkit-box-shadow: 0px 5px 15px 0px rgba(112,112,112,0,54);
    -moz-box-shadow: 0px 5px 15px 0px rgba(112,112,112,0,54);*/
     box-shadow: 0px 5px 15px 0px rgba(112,112,112,0,54);
     background-color: VAR(--blanco);
     padding: 2rem 2rem ;
     border-radius: 1rem;
}

.titulo {
    text-align: center;
    font-size: 3.8rem;
    font-family: 'Style Script', cursive;
}


.titulo span {
    font-size: 2rem;
}

.contenedor {
    max-width: 120rem;
    margin: 0 auto 0 auto;
}
.boton {
    background-color: var(--secundario);
    color: var(--blanco);
    padding: 1rem 3rem;
    margin-top: 3rem;
    font-size: 2rem;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: .5rem;
    width: 90%;
    text-align: center;
    border: none;
}
.nav-bg {
    background-color: var(--secundario);
}

.navegacion-principal {
    display: flex;
   

}

@media (min-width: 480px) {
    .navegacion-principal{
        flex-direction: row;
        justify-content: space-between;
    }
    
}
.navegacion-principal a {
    display: block;
    color: var(--blaco);
    text-decoration: none;
    font-size: 2rem;
    font-weight: 700;
    padding: 1rem;
}

.navegacion-principal a:hover {
    background-color: var(--primario);
    color: var(--oscuro);
}
.hero {
    background-image: url(../Imagen/Fondo1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 480px;
    padding: px;
    position: relative;
    margin-bottom:2rem ;
}