:root {
    --blaco: #ffffff;
    --oscuro: #212121;
    --primario: #ffc107;
    --secundario: #0097a7;
    --gris: #757575;
    --fuente-principal: 3.8rem;
}

.titulo{
    text-align: center;
    color: #12A43E ;
    font-size: 3.2rem;
}
.titulo span{
    text-align: center;
    font-size: 1.5rem;
}
.opciones{
    text-align: center;
    color: #5499C7 ;
    font-size: 1.3rem;
}
.contenido{
    text-align: center;    
}
.servicio{
    text-align: center;
    color: #14BB7E;
    font-size: 1.8rem;
}
.inicio{
    color: #1254A4 ;
}